<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="../public/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../public/grid.css">
    <script src="../public/jquery-3.1.1.min.js"></script>
    <script src="../public/semantic/semantic.min.js"></script>
    
    <link rel='stylesheet' href='../public/fullcalendar.css' />
    <link rel="stylesheet" href="../public/fullcalendar.min.css"/>
    <script src='../public/moment.min.js'></script>
    <script src='../public/fullcalendar.min.js'></script>
    
    <script src="../public/menu.js"></script>
    <title>식단표</title>
    <style>
        body{
            margin-top: 7em;
            background-image:url('../public/image/boxed-bg.png');
        }
    </style>
    <script>
    
        $(function() {
            
          $('#calendar').fullCalendar({
            dayClick: function(date, jsEvent, view, resourceObj) {

                alert('Date: ' + date.format());
                 window.location.href = "diteadd?date="+ date.format();


                }
            });

        });
    </script>

</head>
    
    
<body>

<div class="ui top fixed menu">
    <div class="item">
        <img src="../public/image/logo.png">
    </div>    
    
    <a href="/main" class=" item">메인</a>
    <a href="/ditelist" class="active item">식단표</a>
    <a href="/noticelist?page=1&perpagenum=10" class="item">공지사항</a>
    <a href="/tendlist?page=1&perpagenum=10" class="item">건의게시판</a>
    <% if(login_success){ %>
    <div class="ui dropdown item">
        식재료관리
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="/food" class="item">식재료관리</a>
            <a href="/supplier" class="item">납품업체관리</a>
            <a href="/wakelist" class="item">잔반관리</a>
        </div>
    </div>
    <div class="right menu">
    <a href="/profile" class="item">회원정보수정</a>
    <a href="/logout" class="item">로그아웃</a>
    </div>
    <% } else { %>
    <div class="right menu">
    <a href="/login" class="item">로그인</a>
    <a href="/signup" class="item">회원가입</a>
    </div>
    <% } %>
</div>
    
    
<div class="ui center aligned container">
    <h2 class="ui header">식단</h2>
    </div>
<div class="ui raised very padded text container segment">
    
   <div id='calendar'></div>
</div>
</body>
</html>